.vscode/
*.mrc
20s_10025
20210803_monomer_Sustech
data_multi/
downloads/
figures/
models/
gpr158_3d
tmp/
more_particle_images/
outdated/
particleSeg/
train_particleSeg/
20210714
test_you_mask/
data_for_training/
history.csv
__pycache__/
empiar_db_json/
*.ipynb
20210715
useful_data.csv
particleSeg_recon